@import "./owl.carousel.css";
@import "./owl.theme.default.css";
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Noto+Sans:wght@200&family=Philosopher:ital@0;1&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:wght@300&family=Noto+Sans:wght@200&family=Philosopher:ital@0;1&family=Special+Elite&display=swap');


* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


h4 {
    position: sticky;
    background-color: rgba(72, 93, 190, 0.7);
    color: rgba(255, 255, 255, 0.60);
    top: 3%;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    z-index: 999;
    padding: 1% 0%;
}

.owl-carousel {
    display: flex;
    position: relative;
}

.map_carousel {
    position: relative;
}

#south,
#north {
    font-family: 'Montserrat',
        sans-serif;
    color: rgba(72, 93, 190, 1);
    position: fixed;
    text-align: center;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;
    font-size: 2vw;
    z-index: 9999;
}

.labels {
    max-width: 3vw;
}


.popup {
    display: none;
    position: absolute;
    background-color: rgba(72, 93, 190, 1);
    padding: 10px;
    border: 1px solid #555556;
    border-radius: 10%;
    border-bottom-left-radius: 0%;
}

.labels:hover+.popup,
.popup:hover,
.popup_ulpan:hover {
    display: block;
}

#eilat,
#ashdod,
#ashkelon,
#netanya,
#rishon,
#telaviv,
#petah,
#raanana,
#jerusalem,
#karmiel,
#haifa,
#kiryat {
    max-width: 3vw;
    position: absolute;
}

#popup1,
#popup2,
#popup3,
#popup6,
#popup7,
#popup8,
#popup9,
#popup10,
#popup11,
#popup12,
#popup13,
#popup14 {
    position: absolute;
    transform: translateX(-95%);
    z-index: 9999;
}

#popup1,
#eilat {
    left: 5%;
    top: 83%;
}

#popup1 {
    transform: translateX(5%);
}

#popup2,
#ashdod {
    left: 60%;
    top: 10%;
}

#popup3,
#ashkelon {
    left: 55%;
    top: 7%;
}

#popup6,
#netanya {
    left: 12%;
    top: 20%;
}

#popup7,
#rishon {
    left: 80%;
    top: 15%;
}

#telaviv,
#popup8 {
    left: 85%;
    top: 17%;
}

#petah {
    left: 89%;
    top: 35%;
}

#popup9 {
    top: 25%;
    left: 80%;
    transform: translateX(-2%);
}

#raanana {
    left: 95%;
    top: 20%;
}

#popup10 {
    top: 20%;
    left: 85%;
    transform: translateX(-2%);
}

#popup11,
#jerusalem {
    left: 76%;
    top: 62%;
}

#popup12,
#karmiel {
    left: 60%;
    top: 60%;
}

#popup13,
#haifa {
    left: 53%;
    top: 20%;
}

#popup14,
#kiryat {
    left: 64%;
    top: 29%;
}

.popup_ulpan {
    padding: 1vw;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1vw;
    text-align: center;
    line-height: 200%;
}

a {
    color: rgba(255, 255, 255, 0.60);
}

.popup_ulpan .ulpan_name {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.popup_ulpan .phone {
    color: rgba(255, 255, 255, 0.70);
}

a:link {
    text-decoration: none;
}

a:visited,
a:active,
a:focus {
    color: rgba(255, 255, 255, 0.60);
}

a:hover {
    font-weight: bold;
}

.owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
}


.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
}

.owl-carousel .owl-nav svg {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.owl-carousel .owl-nav button:hover svg {
    opacity: 1;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent;
}