@import "./owl.carousel.css";
@import "./owl.theme.default.css";

* {
    box-sizing: border-box;
    outline: 1px solid red;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Noto+Sans:wght@200&family=Philosopher:ital@0;1&family=Special+Elite&display=swap');

h1 {
    position: fixed;
    top: 1%;
    left: 50%;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    transform: translateX(-50%);
    z-index: 999;
}

.owl-carousel {
    display: flex;
    position: relative;
}

.labels_south {
    max-width: 3vw;
}


.popup {
    display: none;
    position: absolute;
    background-color: #b5b4b8;
    padding: 10px;
    border: 1px solid #555556;
    border-radius: 10%;
    border-bottom-left-radius: 0%;
}

.labels_south:hover+.popup,
.popup:hover,
.popup_ulpan:hover {
    display: block;
}


#popup1 {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    z-index: 9999;

}

#raanana,
#raa {
    max-width: 3vw;
    position: absolute;
}

#popup2 {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    z-index: 9999;

}

#raa {
    left: 10%;
    top: 50%;
}

#raanana {
    right: 10%;
    top: 50%;
}

.popup_ulpan {
    padding: 1vw;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
    color: rgb(26, 26, 30);
    text-align: center;
    line-height: 200%;
}

a:link {
    text-decoration: none;
}

a:visited,
a:active,
a:focus {
    color: rgb(30, 25, 74);
}

a:hover {
    font-weight: bold;
}

.owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
}


.owl-carousel .owl-nav {
    position: fixed;
    left: 50%;
    /* transform: translate(-50%); */
    top: 4vw;
    margin: 0;
}

.owl-carousel .owl-nav svg {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.owl-carousel .owl-nav button:hover svg {
    opacity: 1;
}

.owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent;
}


/* @media screen and (max-width: 100%) {
    .owl-carousel .owl-nav {
        top: 1%;
    }

    .owl-carousel .owl-nav svg {
        width: 24px;
        height: 24px;
    }
}  */